# Current Constituent

In [1]:
import pandas as pd
import yfinance as yf

## Tutorials

### List

In [ ]:
a = ['a', 'b', 'c', 'd', 'e', 'a']
b = [1, 2, 3]
# print(f'there are {len(a)} elements in the list')
# print(f'the first element in the list is {a[0]}')
# print(f'the last element in the list is {a[-1]}')
# print(f'the subset of the list starting from the second element till the second last is {a[1:4]}')
# print(a[:-1])

# print(list(enumerate(a)))
# for i, element in enumerate(a):
    # print(f'{i}: {element}')

# print(list(zip(a, b)))
# for i, j in zip(a, b):
# # for i, j in [('a', 1), ('b', 2), ('c', 3)]:
#     print(i, j)

set_a = set(a)
set_b = set(['e', 'f', 'g'])
# print(set_a)
# print(sorted(a, reverse=True))
print(set_a.intersection(set_b))
print(set_a.union(set_b))

### Pandas

In [ ]:
df = [{"name": "Marshall", "sex": "male"}, {"name": "Kate", "sex": "female"}]
df = pd.DataFrame(df)
df

In [ ]:
print(f'there are {len(df)} rows in df')
print(f'there are {len(df.columns)} columns in df: {list(df.columns)}')
print(f'the first row of df is:')
print(type(df.iloc[0]))

### Class

In [ ]:
from typing import Union
from abc import ABC, abstractmethod

class Person(ABC):
    def __init__(self, name: str, sex: str):
        self.name = name
        self.sex = sex
    
    @abstractmethod
    def self_intro(self):
        pass
    
    @staticmethod
    def say(word: str):
        print(word)
    
    def __str__(self):
        return self.name

# marshall = Person(name="Marshall", sex="male")
print(marshall.sex)
marshall.self_intro()
marshall.say('hi')

class Employee(Person):
    def __init__(self, name, sex, job):
        super().__init__(name, sex)
        self.job = job
    
    def self_intro(self, age: int = 0):
        print(f'Hi my name is {self.name}. I am a {self.sex} {self.job}')
        print(f'I am {age} years old')
    

kate = Employee(name="Kate", sex="Female", job="ML Engineer")
kate.self_intro()

def introduct(x: Union[Person, Employee]):
    x.self_intro()

introduct(kate)
print(kate)


class Student(Person):
    def __init__(self, name, sex):
        super().__init__(name, sex)

# marshall = Student(name='Marshall', sex='male')

In [ ]:
import pandas as pd
import yfinance as yf

# Step 1: Get FTSE 100 tickers from Wikipedia
ftse_url = "https://en.wikipedia.org/wiki/FTSE_100_Index"
tables = pd.read_html(ftse_url)
ftse_df = tables[4]  # The table of constituents
ftse_tickers = ftse_df['Tickers'].tolist()
company_names = ftse_df['Company'].tolist()

# # Step 2: Append '.L' for Yahoo Finance (London Exchange)
tickers = [t + ".L" for t in ftse_tickers]

# Step 3: Fetch data from yfinance
data = []

for symbol, name in zip(tickers, company_names):
    try:
        stock = yf.Ticker(symbol)
        info = stock.info
        info_dict = {
            "ticker": symbol,
            "company": name,
            "price": info.get("currentPrice"),
            "market_cap": info.get("marketCap"),
            "float_shares": info.get("floatShares"),
        }
        data.append(info_dict)
    except Exception as e:
        print(f"Error fetching {symbol}: {e}")

# Step 4: Convert to DataFrame and sort
df = pd.DataFrame(data)
df = df.sort_values(by="market_cap", ascending=False)

## Get Constituent

In [ ]:
import re
# Step 1: Get FTSE 100 tickers from Wikipedia
ftse_url = "https://en.wikipedia.org/wiki/FTSE_100_Index"
tables = pd.read_html(ftse_url)
ftse_100 = tables[4]  # The table of constituents
ftse_100['constituent'] = 1
ftse_100.columns = [re.sub(r'\[\d+\]', '', col).upper() for col in ftse_100.columns]

url = "https://en.wikipedia.org/wiki/FTSE_250_Index"
tables = pd.read_html(url)
ftse_250 = tables[3]  # Usually the second table is the constituents
ftse_250['constituent'] = 0
ftse_250.columns = [re.sub(r'\[\d+\]', '', col).upper() for col in ftse_250.columns]


ftse_df = pd.concat([ftse_100, ftse_250], ignore_index=True)

ftse_tickers = ftse_df['TICKER'].tolist()
company_names = ftse_df['COMPANY'].tolist()
constituent = ftse_df['CONSTITUENT'].tolist()


# # Step 2: Append '.L' for Yahoo Finance (London Exchange)
ftse_tickers = [t + ".L" for t in ftse_tickers]

# Step 3: Fetch data from yfinance
data = []

for symbol, name, cons in zip(ftse_tickers, company_names, constituent):
    try:
        stock = yf.Ticker(symbol)
        info = stock.info
        info_dict = {
            "ticker": symbol,
            "company": name,
            "price": info.get("currentPrice"),
            "market_cap": info.get("marketCap"),
            "float_shares": info.get("floatShares"),
            "constituent": cons,
        }
        data.append(info_dict)
    except Exception as e:
        print(f"Error fetching {symbol}: {e}")

# Step 4: Convert to DataFrame and sort
df = pd.DataFrame(data)
df = df.sort_values(by="market_cap", ascending=False)
df

,ticker,company,price,market_cap,float_shares,constituent
8,AZN.L,AstraZeneca,10428.0000,161656946688,1.543226e+09,1
84,SHEL.L,Shell plc,2679.5000,157937778688,5.864056e+09,1
44,HSBA.L,HSBC,866.9000,151482974208,1.585261e+10,1
93,ULVR.L,Unilever,4556.0000,111746383872,2.456089e+09,1
18,BATS.L,British American Tobacco,3634.0000,79553347584,1.858511e+09,1
...,...,...,...,...,...,...
213,BOWL.L,Hollywood Bowl Group,250.0000,422132480,1.541001e+08,0
214,HTG.L,Hunting,265.0000,418032192,1.198366e+08,0
263,NESF.L,NextEnergy Solar Fund,72.0694,414543168,NaN,0
112,ASC.L,ASOS,305.0000,363514272,3.684693e+07,0
265,NAS.L,North Atlantic Smaller Companies Investment Trust,384.0000,50638848,NaN,0

In [62]:
ftse_df

,COMPANY,TICKER,FTSE INDUSTRY CLASSIFICATION BENCHMARK SECTOR,CONSTITUENT
0,3i,III,Financial services,1
1,Admiral Group,ADM,Insurance,1
2,Airtel Africa,AAF,Telecommunications services,1
3,Alliance Witan,ALW,Investment Trusts,1
4,Anglo American plc,AAL,Mining,1
...,...,...,...,...
345,Wizz Air,WIZZ,Travel & Leisure,0
346,Workspace Group,WKP,Real Estate Investment Trusts,0
347,Worldwide Healthcare Trust,WWH,Investment Trusts,0
348,XPS Pensions,XPS,Financial Services,0
349,Zigup,ZIG,Support Services,0

In [3]:
df['volatility'] = 0.2
df['drift'] = 0
df

,ticker,company,price,market_cap,float_shares,constituent,volatility,drift
8,AZN.L,AstraZeneca,10428.0000,161656946688,1.543226e+09,1,0.2,0
84,SHEL.L,Shell plc,2679.5000,157937778688,5.864056e+09,1,0.2,0
44,HSBA.L,HSBC,866.9000,151482974208,1.585261e+10,1,0.2,0
93,ULVR.L,Unilever,4556.0000,111746383872,2.456089e+09,1,0.2,0
18,BATS.L,British American Tobacco,3634.0000,79553347584,1.858511e+09,1,0.2,0
...,...,...,...,...,...,...,...,...
213,BOWL.L,Hollywood Bowl Group,250.0000,422132480,1.541001e+08,0,0.2,0
214,HTG.L,Hunting,265.0000,418032192,1.198366e+08,0,0.2,0
263,NESF.L,NextEnergy Solar Fund,72.0694,414543168,NaN,0,0.2,0
112,ASC.L,ASOS,305.0000,363514272,3.684693e+07,0,0.2,0
265,NAS.L,North Atlantic Smaller Companies Investment Trust,384.0000,50638848,NaN,0,0.2,0

In [4]:
# import numpy as np
# import yfinance as yf

# ticker = yf.Ticker("AAPL")
# hist = ticker.history(period="1y")

# # Compute daily log returns
# hist['log_return'] = np.log(hist['Close'] / hist['Close'].shift(1))
# hist = hist.dropna()

# # Estimate daily drift and volatility
# mu_daily = hist['log_return'].mean()
# sigma_daily = hist['log_return'].std()

# # Annualize (assuming 252 trading days)
# mu_annual = mu_daily * 252
# sigma_annual = sigma_daily * np.sqrt(252)

# print(f"Estimated annual drift (mu): {mu_annual:.4f}")
# print(f"Estimated annual volatility (sigma): {sigma_annual:.4f}")

## Ranking

### Estimate future market cap

In [5]:
import numpy as np
import pandas as pd
from typing import List

def gbm(
    stock_price: List[float],
    volatility: List[float],
    date: str,
    rank_date: str,
    drift: List[float]
) -> List[float]:
    """
    Vectorized GBM for multiple stocks with lists of parameters.

    Args:
        stock_price (List[float]): current prices of each stock
        volatility (List[float]): annual volatility for each stock
        date (str): current date in format '%Y-%m-%d'
        rank_date (str): future date in format '%Y-%m-%d'
        drift (List[float]): expected annual return for each stock

    Returns:
        List[float]: simulated prices at rank_date
    """
    # Convert lists to NumPy arrays
    stock_price = np.array(stock_price, dtype=float)
    volatility = np.array(volatility, dtype=float)
    drift = np.array(drift, dtype=float)

    n = len(stock_price)

    # Time setup
    date = pd.to_datetime(date)
    rank_date = pd.to_datetime(rank_date)
    days = len(pd.bdate_range(start=date, end=rank_date))
    dt = 1 / 252

    # Random normal draws: shape (n_stocks, n_days)
    Z = np.random.standard_normal((n, days))

    # GBM formula components
    mu_term = (drift - 0.5 * volatility**2)[:, None] * dt        # shape (n, 1)
    vol_term = (volatility[:, None] * np.sqrt(dt)) * Z           # shape (n, days)

    # Compute cumulative log returns
    log_returns = mu_term + vol_term                             # shape (n, days)

    # Compute estimated prices
    estimated_stock_prices = stock_price[:] * np.exp(np.sum(log_returns, axis=-1)) # shape (n)

    # Return final simulated price for each stock
    return estimated_stock_prices

gbm(
    stock_price=[100, 120, 90],
    volatility=[0.2, 0.25, 0.3],
    drift=[0.05, 0.03, 0.04],
    date="2025-06-01",
    rank_date="2025-06-03"
)

array([102.58646625, 120.15621243,  86.40890313])

### Rank based on estimated market cap

In [ ]:
import numpy as np
import pandas as pd
from typing import List

def apply_ftse100_review_rules(df: pd.DataFrame) -> pd.DataFrame:
    # df = df.copy()
    df = df.sort_values("estimated market cap rank").reset_index(drop=True)

    # Step 1: flag potential adds and deletes
    df["potential_insert"] = (df["constituent"] == 0) & (df["estimated market cap rank"] <= 90)
    df["potential_delete"] = (df["constituent"] == 1) & (df["estimated market cap rank"] >= 111)

    insert_candidates = df[df["potential_insert"]]
    delete_candidates = df[df["potential_delete"]]

    num_inserts = len(insert_candidates)
    num_deletes = len(delete_candidates)
    df["forced_delete"] = False
    df["forced_insert"] = False

    # Step 2: Enforce constant 100 membership by balancing inserts/deletes
    if num_inserts > num_deletes:
        extra = num_inserts - num_deletes
        # Remove more lowest-ranked current members
        current_constituents = df[df["constituent"] == 1]
        extra_deletes = current_constituents.sort_values("estimated market cap rank", ascending=False).head(extra)
        df.loc[extra_deletes.index, "forced_delete"] = True
    elif num_deletes > num_inserts:
        extra = num_deletes - num_inserts
        # Add more highest-ranked non-members
        non_constituents = df[df["constituent"] == 0]
        extra_inserts = non_constituents.sort_values("estimated market cap rank", ascending=True).head(extra)
        df.loc[extra_inserts.index, "forced_insert"] = True
    else:
        df["forced_delete"] = False
        df["forced_insert"] = False

    # Step 3: Set review decision
    def review_decision(row):
        if row["constituent"] == 1:
            if row.get("potential_delete", False) or row.get("forced_delete", False):
                return "removed"
            else:
                return "stay"
        else:
            if row.get("potential_insert", False) or row.get("forced_insert", False):
                return "added"
            else:
                return "not included"

    df["review_decision"] = df.apply(review_decision, axis=1)

def rank(df: pd.DataFrame):
    df['number of shares'] = df['market_cap'] / df['price']
    df['estimated market cap'] = df['estimated stock price'] * df['number of shares']
    df['estimated market cap rank'] = df['estimated market cap'].rank(ascending=False, method='min')
    apply_ftse100_review_rules(df)

,ticker,company,price,market_cap,float_shares,constituent,volatility,drift,estimated stock price,number of shares,estimated market cap,estimated market cap rank,potential_insert,potential_delete,forced_delete,forced_insert,review_decision
8,AZN.L,AstraZeneca,10428.0000,161656946688,1.543226e+09,1,0.2,0,11033.063912,1.550220e+07,1.710368e+11,1.0,False,False,False,False,stay
84,SHEL.L,Shell plc,2679.5000,157937778688,5.864056e+09,1,0.2,0,2673.618916,5.894300e+07,1.575911e+11,2.0,False,False,False,False,stay
44,HSBA.L,HSBC,866.9000,151482974208,1.585261e+10,1,0.2,0,844.328475,1.747410e+08,1.475388e+11,3.0,False,False,False,False,stay
93,ULVR.L,Unilever,4556.0000,111746383872,2.456089e+09,1,0.2,0,4487.440400,2.452730e+07,1.100648e+11,4.0,False,False,False,False,stay
18,BATS.L,British American Tobacco,3634.0000,79553347584,1.858511e+09,1,0.2,0,3544.516662,2.189140e+07,7.759443e+10,5.0,False,False,False,False,stay
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,BOWL.L,Hollywood Bowl Group,250.0000,422132480,1.541001e+08,0,0.2,0,220.605772,1.688530e+06,3.724994e+08,349.0,False,False,False,False,not included
214,HTG.L,Hunting,265.0000,418032192,1.198366e+08,0,0.2,0,256.963270,1.577480e+06,4.053544e+08,345.0,False,False,False,False,not included
263,NESF.L,NextEnergy Solar Fund,72.0694,414543168,NaN,0,0.2,0,69.072873,5.752000e+06,3.973071e+08,346.0,False,False,False,False,not included
112,ASC.L,ASOS,305.0000,363514272,3.684693e+07,0,0.2,0,313.310215,1.191850e+06,3.734188e+08,348.0,False,False,False,False,not included
265,NAS.L,North Atlantic Smaller Companies Investment Trust,384.0000,50638848,NaN,0,0.2,0,340.523652,1.318720e+05,4.490554e+07,350.0,False,False,False,False,not included

### Run a single estimation

In [ ]:
def run(df: pd.DataFrame, date: str, rank_date):
    df['estimated stock price'] = gbm(
        stock_price=df['price'],
        volatility=df['volatility'],
        date=date,
        rank_date=rank_date,
        drift=df['drift']
    )
    rank(df)

run(df=df, date='2024-09-27', rank_date='2024-11-11')
df

## Run 100 estimation

In [17]:
df[df['review_decision'] == 'added']

,ticker,company,price,market_cap,float_shares,constituent,volatility,drift,estimated stock price,number of shares,estimated market cap,estimated market cap rank,potential_insert,potential_delete,forced_delete,forced_insert,review_decision
147,CCL.L,Carnival Corporation & plc,1592.5,20887230464,1.262827e+09,0,0.2,0,1414.587659,1.311600e+07,1.855373e+10,32.0,True,False,False,False,added

In [ ]:
def run_multiple_estimation(df: pd.DataFrame, date: str, rank_date: str, n: int =100,):
    columns_to_copy = ["ticker", "company", "price", "market_cap", "volatility", "drift"]
    simulation_table = df[columns_to_copy].copy()
    simulation_table['added'] = 0
    simulation_table['removed'] = 0
    for _ in n:
        run(df=df, date=date, rank_date=rank_date)
        if df[df['review_decision'] == 'added']:
            simulation_table['added'] += 1
        elif df[df['review_decision'] == 'removed']:
            simulation_table['removed'] += 1
        else:
            pass
    return simulation_table

In [59]:
import pandas as pd
import copy

def run_multiple_estimation(df: pd.DataFrame, date: str, rank_date: str, n: int = 100):
    columns_to_copy = ["ticker", "company", "price", "market_cap", "volatility", "drift"]
    
    # Create the simulation table with 0 counts
    simulation_table = df[columns_to_copy].copy()
    simulation_table["added"] = 0
    simulation_table["removed"] = 0

    for _ in range(n):
        # Run your simulation function — make sure it modifies df in-place or returns something
        run(df=df, date=date, rank_date=rank_date)

        # Identify tickers added or removed in this iteration
        added_mask = df["review_decision"] == "added"
        removed_mask = df["review_decision"] == "removed"

        simulation_table.loc[added_mask, "added"] += 1
        simulation_table.loc[removed_mask, "removed"] += 1

    print(simulation_table[simulation_table['added'] > 0])
    simulation_table["added"] /= n
    simulation_table["removed"] /= n

    return simulation_table

new_df = copy.deepcopy(df)
# new_df = new_df.sort_values('market_cap', axis=0, ascending=False)
# threshold = new_df.iloc[100]['market_cap']
# print(new_df[new_df['ticker'] == 'CCL.L']['market_cap'].iloc[0])
# print(2225.52 * 1e6)
# print(threshold)
# new_df.iloc[100]
new_df = run_multiple_estimation(new_df, date='2024-09-27', rank_date='2024-10-10', n=100000)
new_df[new_df['added'] > 0]

     ticker                     company   price   market_cap  volatility  \
147   CCL.L  Carnival Corporation & plc  1592.5  20887230464         0.2
161   DLG.L                 Direct Line   307.6   4001753088         0.2
140  BLND.L                British Land   382.8   3824800000         0.2
313   SCT.L                     Softcat  1903.0   3794258432         0.2
330  BBOX.L         Tritax Big Box REIT   148.7   3688771072         0.2

     drift   added  removed
147      0  100000        0
161      0     555        0
140      0      32        0
313      0       9        0
330      0       1        0

,ticker,company,price,market_cap,volatility,drift,added,removed
147,CCL.L,Carnival Corporation & plc,1592.5,20887230464,0.2,0,1.00000,0.0
161,DLG.L,Direct Line,307.6,4001753088,0.2,0,0.00555,0.0
140,BLND.L,British Land,382.8,3824800000,0.2,0,0.00032,0.0
313,SCT.L,Softcat,1903.0,3794258432,0.2,0,0.00009,0.0
330,BBOX.L,Tritax Big Box REIT,148.7,3688771072,0.2,0,0.00001,0.0

In [65]:
new_df = copy.deepcopy(df)
print(new_df.iloc[89]['market_cap'])

4545287168

In [30]:
mask = new_df[0] >= 0
mask

0    True
1    True
Name: 0, dtype: bool

In [33]:
new_df.loc[:2]

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

In [38]:
new_df = new_df.sort_values(0, ascending=False, axis=0)
new_df

   0  1  2  3  4
1  5  6  7  8  9
0  0  1  2  3  4

In [66]:
from datetime import datetime, timedelta

def get_next_ftse_review_date(input_date_str):
    input_date = datetime.strptime(input_date_str, "%Y-%m-%d")
    review_months = [3, 6, 9, 12]

    def get_review_cutoff(year, month):
        # First Friday of the review month
        first_day = datetime(year, month, 1)
        print(f'first day: {first_day}')
        first_friday = first_day + timedelta(days=(4 - first_day.weekday() + 7) % 7)
        print(timedelta(days=(4 - first_day.weekday() + 7) % 7))
        # Tuesday before that Friday
        review_cutoff = first_friday - timedelta(days=3)
        return review_cutoff

    for offset in range(0, 24):  # Check next 2 years if needed
        month = review_months[offset % 4]
        year = input_date.year + (offset // 4)
        cutoff_date = get_review_cutoff(year, month)
        if input_date < cutoff_date:
            return cutoff_date.strftime("%Y-%m-%d")

    return None  # Fallback

get_next_ftse_review_date('2024-09-27')

first day: 2024-03-01 00:00:00
0:00:00
first day: 2024-06-01 00:00:00
6 days, 0:00:00
first day: 2024-09-01 00:00:00
5 days, 0:00:00
first day: 2024-12-01 00:00:00
5 days, 0:00:00

'2024-12-03'