# Current Constituent

In [1]:
import pandas as pd
import yfinance as yf

## Tutorials

### List

In [2]:
a = ['a', 'b', 'c', 'd', 'e', 'a']
b = [1, 2, 3]
# print(f'there are {len(a)} elements in the list')
# print(f'the first element in the list is {a[0]}')
# print(f'the last element in the list is {a[-1]}')
# print(f'the subset of the list starting from the second element till the second last is {a[1:4]}')
# print(a[:-1])

# print(list(enumerate(a)))
# for i, element in enumerate(a):
    # print(f'{i}: {element}')

# print(list(zip(a, b)))
# for i, j in zip(a, b):
# # for i, j in [('a', 1), ('b', 2), ('c', 3)]:
#     print(i, j)

set_a = set(a)
set_b = set(['e', 'f', 'g'])
# print(set_a)
# print(sorted(a, reverse=True))
print(set_a.intersection(set_b))
print(set_a.union(set_b))

{'e'}
{'b', 'e', 'c', 'f', 'g', 'a', 'd'}

### Pandas

In [3]:
df = [{"name": "Marshall", "sex": "male"}, {"name": "Kate", "sex": "female"}]
df = pd.DataFrame(df)
df

       name     sex
0  Marshall    male
1      Kate  female

In [4]:
print(f'there are {len(df)} rows in df')
print(f'there are {len(df.columns)} columns in df: {list(df.columns)}')
print(f'the first row of df is:')
print(type(df.iloc[0]))

there are 2 rows in df
there are 2 columns in df: ['name', 'sex']
the first row of df is:
<class 'pandas.core.series.Series'>

### Class

In [5]:
class Person:
    def __init__(self, name: str, sex: str):
        self.name = name
        self.sex = sex
    
    def self_intro(self, age: int = 0):
        print(f'Hi my name is {self.name}. I am {self.sex}')
        print(f'I am {age} years old')
    
    @staticmethod
    def say(word: str):
        print(word)

marshall = Person(name="Marshall", sex="male")
print(marshall.sex)
marshall.self_intro(26)
marshall.say('hi')

class Employee(Person):
    def __init__(self, name, sex, job):
        super().__init__(name, sex)
        self.job = job
    
    def self_intro(self, age: int = 0):
        print(f'Hi my name is {self.name}. I am a {self.sex} {self.job}')
        print(f'I am {age} years old')
    

kate = Employee(name="Kate", sex="Female", job="ML Engineer")
kate.self_intro()

male
Hi my name is Marshall. I am male
I am 26 years old
hi
Hi my name is Kate. I am a Female ML Engineer
I am 0 years old

## Get Constituent

In [6]:
# Step 1: Get FTSE 100 tickers from Wikipedia
ftse_url = "https://en.wikipedia.org/wiki/FTSE_100_Index"
tables = pd.read_html(ftse_url)
ftse_df = tables[4]  # The table of constituents
ftse_tickers = ftse_df['Ticker'].tolist()
company_names = ftse_df['Company'].tolist()

# # Step 2: Append '.L' for Yahoo Finance (London Exchange)
tickers = [t + ".L" for t in ftse_tickers]

# Step 3: Fetch data from yfinance
data = []

for symbol, name in zip(tickers, company_names):
    try:
        stock = yf.Ticker(symbol)
        info = stock.info
        info_dict = {
            "ticker": symbol,
            "company": name,
            "price": info.get("currentPrice"),
            "market_cap": info.get("marketCap"),
            "float_shares": info.get("floatShares"),
        }
        data.append(info_dict)
    except Exception as e:
        print(f"Error fetching {symbol}: {e}")

# Step 4: Convert to DataFrame and sort
df = pd.DataFrame(data)
df = df.sort_values(by="market_cap", ascending=False)

In [7]:
df

,ticker,company,price,market_cap,float_shares
8,AZN.L,AstraZeneca,10548.00,163517202432,1.543226e+09
84,SHEL.L,Shell plc,2667.00,157305257984,5.864176e+09
44,HSBA.L,HSBC,874.70,153095241728,1.585456e+10
93,ULVR.L,Unilever,4618.00,113267073024,2.456089e+09
18,BATS.L,British American Tobacco,3662.00,80172531712,1.820145e+09
...,...,...,...,...,...
95,UTG.L,Unite Group,856.00,4187106816,4.430807e+08
16,BKG.L,Berkeley Group Holdings,4160.00,4118824192,9.941106e+07
70,PCT.L,Polar Capital Technology Trust,347.50,4043406080,NaN
32,EZJ.L,EasyJet,537.60,4036241408,6.003043e+08
52,JD.L,JD Sports,75.14,3821011968,2.453800e+09